@charset "UTF-8";
*{
    box-sizing: border-box;
}

div.row { max-width: 80%; margin: 0 auto;}


div.nav {
	background-color: navy;
	height:50px;
	padding: 14px 0;
}

div.nav nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

div.nav nav li {
	margin: 0 10px;
}

div.nav nav li a {
	color: #fff;
	text-decoration: none;
}

#logo {
	display: inline-block;
}

#logo img {
  width: 200px;
  height: auto;
}

#top_menu {
  display: flex;
  float:right;
  align-items: center;
}

#contents {
    background: url('img/blue.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 1300px;
    padding-top: 30px;
}

div.dflex { display: flex }

div.square {
    display: inline-block;
    width: 33%;
    height: 300px;
    background: white;
    margin-right: 5px;
    border: solid 2px white;
    border-radius: 10px;
}
div.long{
    width: 80%;
    height: 60px;
    background-color: navy;
    border: solid 2px navy;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
}


div.square2{
   display: inline-block;
    width: 32.5%;
    height: 300px;
    background: white;
    margin-right: 5px;
    margin-top: 10px;
    border: solid 2px white;
    border-radius: 10px;
}